:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-font-weight: 400;
  --secondary-font-weight: 700;
  --color: #212121;
  --color-h1: #ffffff;
  --main-background-color: #f5f5f5;
  --header-background-color: #ffffff;
  --main-p-color: #757575;
  --main-bg-dark-color: #2f303a;
  --logo-dark-color: #000000;
  --section-persons-background-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --primary-letter-spacing: 0.03em;
  --secondary-letter-spacing: 0.06em;
  --box-shadow-filter: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --logo-color: #2196f3;
  --button-box-shadow: rgba(0, 0, 0, 0.15);
  --header-border-color: #ececec;
  --icons-main-color:#AFB1B8;
  --accent-color: #2196F3;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
body {
  font-family: var(--primary-font-family);
  background-color: var(--main-background-color);
  color: var(--main-p-color);
}
.section {
  padding: 94px 0;
}
.container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Header */
.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
.header-contacts-item {
  display: flex;
  margin-left: auto;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}
.header-mobile-link {
  margin-left: 50px;
}
.icon-tel,
.mail-icon{
  margin-right: 10px;
  fill: currentColor;
}
.icon-tel:hover,
.mail-icon:hover,
.icon-tel:focus,
.mail-icon:focus{
  color:var(--logo-color);
  
}
/* Header */
.logo {
  font-family: var(--primary-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--logo-color);
  margin-right: 93px;
}
.list-dark {
  color: var(--logo-dark-color);
}
.nav-link,
.header-mail-link,
.header-mobile-link {
  color: var(--color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  font-weight: bold;
}
.header-mail-link,
.header-mobile-link {
  color: var(--main-p-color);
}
.nav-link:hover,
.header-mail-link:hover,
.header-mobile-link:hover,
.nav-link:focus,
.header-mail-link:focus,
.header-mobile-link:focus {
  color: var(--logo-color);
}
.link-active {
  color: var(--logo-color);
}
/* Main */

/* Hero section */
.hero {
  background-color: var(--main-bg-dark-color);
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 280px;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-opt.jpg) ;
  background-size: cover;
}
.hero-h {
  width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-h1);
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  letter-spacing: var(--secondary-letter-spacing);
}
.hero-button {
  min-width: 200px;
  font-family: var(--primary-font-family);
  color: var(--color-h1);
  background-color: var(--logo-color);
  font-style: Bold;
  font-size: 16px;
  font-weight: var(--secondary-font-weight);
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: var(--secondary-letter-spacing);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: var(--button-box-shadow);
  padding: 10px 32px;
  border: 1px solid transparent;
}
.hero-button:hover {
  background-color: var(--logo-color);
  color: var(--color-h1);
}
/* section FEATURES*/
.feature-title {
  margin-bottom: 10px;
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-style: Bold;
  color: #212121;
  letter-spacing: var(--primary-letter-spacing);
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.feature-text,
.footer-address-link, /*+footer address*/
.footer-link {
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  color: var(--main-p-color);
  font-style: Regular;
  font-size: 14px;
  letter-spacing: var(--primary-letter-spacing);
}
.feature-item {
  margin:   15px;
  flex-basis: calc((100% - 120px) / 4);
}
.feature-item-wrapper{
  display: flex;
  width: 270px; 
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-top: 94px;
  margin-bottom: 30px;
}
.pictures{
  padding-bottom: 60px;
}
/* section work */
.section-work {
  padding-bottom: 94px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.work-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.section-title {
  text-align: center;
  font-family: var(--primary-font-family);
  color: var(--color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}
/*WORKERS*/
.section-workers {
  background-color: var(--section-persons-background-color);
  padding-top: 30px;
}
.workers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
}
.title-workers-hero {
  color: var(--color);
  font-family: var(--primary-font-family);
  font-size: 36px;
  letter-spacing: var(--primary-letter-spacing);
  text-align: center;
  line-height: 1.17;
  margin-bottom: 40px;
  margin-top: 84px;
  
}
.team-item-wrapper {
  padding: 30px 0;
  background-color: #ffffff;
}
.workers-title {
  color: var(--color);
  font-family: var(--primary-font-family);
  letter-spacing: var(--primary-letter-spacing);
  line-height: 1.19;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}
.workers-p {
  color: var(--main-p-color);
  font-size: 16px;
  letter-spacing: var(--primary-font-family);
  line-height: 1.19;
  font-family: var(--primary-font-family);
  text-align: center;
}
.workers-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  background: var(#ffffff);
  box-shadow: var(--box-shadow-filter);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 94px;
}
.social-list{
  display: flex;
  justify-content: center;
}
.social-list-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--header-background-color);
  background-color: var(--header-background-color);
  border-radius: 50%;
}
.social-list-item:not(:last-child){
  margin-right: 10px;
}


 .social-list-link:hover,
.social-list-link:focus
{
  background-color: var(--header-background-color);
  fill: var(--accent-color);
  
} 
/* clients*/
.clients-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.clients-item{
  flex-basis: calc((100% - 180px) / 6);
  margin-left: 30px;
  margin-top: 30px;

}

.clients-item-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  border: 1px solid var(--icons-main-color);
  border-radius: 4px;;
}
.clients-list-icon{
  width: 106px;
  height:60px;
  fill: var(--icons-main-color);
}
.clients-item-link:hover,
.clients-item-link:focus
{
  border: 1px solid var(--accent-color);
}
.clients-item-link:hover .clients-list-icon,
.clients-item-link:focus .clients-list-icon
{
  fill: var(--accent-color);
}

/*footer */
.page-footer {
  background: var(--main-bg-dark-color);
   padding-top: 45px;
  padding-bottom: 75px; 
  padding: 60px 0;

}
.logo-footer{
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}
.footer-item{
  font-style: normal;
}
.footer-item:not(:last-child){
  margin-bottom: 10px;
}
.footer-link{
  color: rgba(255, 255, 255, 0.6);
}
.logo-light, 
.footer-link-location{
  color: var(--header-background-color)
}
.footer-title{
  color: var(--header-background-color);
  margin-bottom: 20px;
}
.footer-link:hover,
.footer-link:focus{
  color: var(--accent-color);
}

.footer-align{
  align-items: baseline;
  display: flex;
}
.footer-address-wrapper{
  margin-right: 70px;
}

.social-list-link.social-footer{
  fill: var(--header-background-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list-link:hover,
.social-list-link:focus
{
  background-color: var(--accent-color);
}
.social-use{
  fill: #4e4f55;
  
}
.social-use:hover,
.social-use:focus{
  fill:var(--logo-color);
  
}
/*hero section*/
.body {
  background-color: #ffffff;
}
.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
  margin-top: 94px;
}
.filter-item-trouble {
  margin-top: 94px;
}
.button-filter {
  color: rgba(33, 33, 33, 1);
  background-color: #f5f4fa;
  background: var(--section-persons-background-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 500;
  letter-spacing: var(--primary-letter-spacing);
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
}
.button-filter:hover,
.button-filter:focus {
  background-color: var(--logo-color);
  color: rgba(255, 255, 255, 1);
  box-shadow: var(--box-shadow-filter);
  border-radius: 4px;
}
/* portfolio project section */
.section-project {
  margin-bottom: 94px;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-bottom:94px;
}
.project-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.project-item-wpapper {
  border: 1px solid var(--header-border-color);
  border-top: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
}
.project-h {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: var(--secondary-letter-spacing);
  color: var(--color);
  line-height: 2;
  margin-bottom: 4px;
  padding-left: 24px;
}
.project-p {
  color: var(--main-p-color);
  font-size: 16px;
  letter-spacing: var(--primary-letter-spacing);
  line-height: 1.875;
  font-weight: 400;
  padding-left: 24px;
}
